body {
    display: grid;
    grid-template-areas:
        "header"
        "nav"
        "section-1"
        "section-2"
        "aside"
        "footer";
    grid-template-columns: auto;
    grid-template-rows: 100px 75px auto 2fr 1fr 10%;
    row-gap: 5px;
    column-gap: 5px;
    
}

@media screen and (min-width: 768px) {
    body {
        grid-template-areas:
            "header"
            "nav"
            "section-1"
            "section-2"
            "aside"
            "footer";
        grid-template-columns: auto;
        grid-template-rows: 100px 1fr 3fr 2fr 10%;
        row-gap: 10px;
        column-gap: 10px;
    }
}

@media screen and (min-width: 1024px) {
    body {
        min-height: 100vh;
        width: 100%;
        grid-template-areas:
            "header header"
            "nav nav"
            "section-1  aside"
            "section-2  aside"
            "footer     footer";
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 100px 1fr 3fr 2fr 1fr;
        row-gap: 20px;
        column-gap: 20px;
       
    }
}