* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import "/styles/responsive"



header {
    background-color: rgb(0, 0, 0);
    grid-area: header;
    margin: auto;
}

#Destacados {
    background-color: rgb(255, 255, 255);
    grid-area: section-1;

}

section {
    background-color: rgb(255, 255, 255);
    grid-area: section-2;
}

aside {
    background-color: rgb(255, 255, 255);
    grid-area: aside;
}

footer {
    background-color: white;
    grid-area: footer;
}

button {
    background-color: black;
    cursor: pointer;
    padding: 10px 12px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    border-radius: 2px;
}

.redes {
    position: relative;
    bottom: 150px;
    right: 40px;
    position: fixed;
    width: 50px;
    height: 50px;
}

li {
    list-style-type: none;
}

#radio {
    align-items: center;
}

#Navbar {
    position: relative;
    z-index: 1;

}